Host brs-home
    HostName home.inf.h-brs.de
    IdentityFile ~/.ssh/id_rsa
    User mnguye2m
    #User mnguy12s

Host ux2o01
    HostName ux-2o01.inf.fh-bonn-rhein-sieg.de
    IdentityFile ~/.ssh/id_rsa
    User mnguy12s

Host brs-shetanmargt48
    User mnguy12s
    IdentityFile ~/.ssh/id_rsa
    ProxyCommand ssh brs-home -W 10.20.118.5:37451

Host brs-tesla-local
    HostName 192.168.88.53
    IdentityFile ~/.ssh/id_rsa
    User mnguy12s

Host brs-tesla
    IdentityFile ~/.ssh/id_rsa
    ProxyCommand ssh brs-home -W 10.20.118.36:10022
    User mnguy12s

Host brs-biostore
    IdentityFile ~/.ssh/id_rsa
    ProxyCommand ssh brs-home -W 10.20.130.12:22
    User minh

Host hsrb-mnguyen
    HostName 192.168.50.201
    User mnguyen
    IdentityFile ~/.ssh/id_rsa

Host hsrb-lucy
    HostName 192.168.50.201
    User lucy

Host cob3
    HostName 192.168.1.103
    IdentityFile ~/.ssh/id_rsa
    User minh
    HostkeyAlgorithms +ssh-dss

Host cob2
    HostName 192.168.1.102
    IdentityFile ~/.ssh/id_rsa
    User minh

Host cob1
    HostName 192.168.1.101
    IdentityFile ~/.ssh/id_rsa
    User minh

Host dorthopi3
    HostName 172.16.1.106
    IdentityFile ~/.ssh/id_rsa
    User minh

Host dorthopi
    HostName 172.16.1.105
    IdentityFile ~/.ssh/id_rsa
    User minh
